[submodule "FeatureAnalysis"]
	path = FeatureAnalysis
	url = git@github.com:Jeanselme/FeatureAnalysis.git
[submodule "SyntheticClinicalPresence"]
	path = SyntheticClinicalPresence
	url = git@github.com:Jeanselme/SyntheticClinicalPresence.git
[submodule "NeuralFineGray"]
	path = NeuralFineGray
	url = https://github.com/Jeanselme/NeuralFineGray
